@import helper._
@(action: models.tables.pojos.Action)(implicit request: Http.Request)
@main("vue Action") {


      <section class="wrapper">
        <h3><i class="fa fa-angle-right"></i>Formulaire Action</h3>
        
          <div class="col-lg-12">
            <div class="form-panel">
              <form  method="POST" action="@controllers.routes.ActionCtrole.ajoutAction()"  class="form-horizontal style-form" >
                @helper.CSRF.formField
                <div class="form-group">
                  <label class="control-label col-md-3">Identifiant Action</label>
                  <div class="col-md-3 col-xs-11">
                    <input class="form-control" size="16" type="text"  name="idAction" value="@action.getIdAction()">
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-md-3">Libelle Action</label>
                  <div class="col-md-3 col-xs-11">
                    <input class="form-control" size="16" type="text" name="libelleAction" value="@action.getLibelleAction()">
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-md-3">Numero Programme</label>
                  <div class="col-md-3 col-xs-11">
                    <input class="form-control" size="16" type="text" name="numProgramme" value="@action.getNumProgramme()">
                  </div>
                </div>
<!--                 <button class="btn btn-theme" type="submit">Envoyer</button> -->
                       <input type="submit" value="Valider" class="btn btn-primary">
                
                </form>
            </div>
            <!-- /form-panel -->
          </div>
          
        </section>
     
       
}
