@(listesP: List[models.tables.pojos.Activite])(implicit request: Http.Request)


@main("Afficher Activite"){

<table class="table table-striped table-advance table-hover">
                <h4><i class="fa fa-angle-right"></i> Listes Activite </h4>
                <hr>
                <thead>
                  <tr>
                    <th class="hidden-phone"><i class="fa fa-question-circle"></i> Numero Activite</th>
                    <th class="hidden-phone"><i class="fa fa-question-circle"></i>Libelle Activite </th>
                    <th class="hidden-phone"><i class="fa fa-question-circle"></i>Identifiant Actions </th>
                    <th class="hidden-phone"><i class="fa fa-question-circle"></i>Bailleur </th>
                    <th class="hidden-phone"><i class="fa fa-question-circle"></i>Fonctions </th>
                    <th class="hidden-phone"><i class="fa fa-question-circle"></i>Structure </th>
                    <th class="hidden-phone"><i class="fa fa-question-circle"></i>Type Financement </th>
                    <th class="hidden-phone"><i class="fa fa-question-circle"></i>Livrable </th>
                    <th class="hidden-phone"><i class="fa fa-question-circle"></i>Source Verification </th>
                    <th class="hidden-phone"><i class="fa fa-question-circle"></i>Statut </th>
                     <th class="hidden-phone"><i class="fa fa-question-circle"></i>Type Activite </th>
                    
                    
                    <th class="hidden-phone"><i class="fa fa-question-circle"></i>Actions</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                   @for(t <- listesP){

                    <tr>
                         <td > @t.getNumActivite </td>
                         <td > @t.getLibelleActivite </td>
                          <td > @t.getIdAction </td>
                          <td > @t.getIdBailleur </td>
                           <td > @t.getIdFonction </td>
                            <td > @t.getIdStructure </td>
                             <td > @t.getIdTypefinancement </td>
                              <td > @t.getLivrable </td>
                               <td > @t.getSourceVerification </td>
                                <td > @t.getStatut </td>
                                 <td > @t.getTypeActivite </td>
                           <td>
                           <a href="@routes.ActiviteCtrole.editActi(t.getNumActivite)"  class="btn btn-success"><span class="fa fa-edit"></span></a>
                            <a href="@routes.ActiviteCtrole.delActi(t.getNumActivite)"  class="btn btn-danger" onclick="return window.confirm('Voulez vous supprimer cet enregistrement?');"><span class="fa fa-trash"></</span></a>
                           </td>
                        </tr>
                   }
                </tbody>
              </table>



}