@import helper._
@(action: List[models.tables.pojos.Action],bailleur: List[models.tables.pojos.Bailleur],fonction: List[models.tables.pojos.Fonction],structure: List[models.tables.pojos.Structure],typefinancement: List[models.tables.pojos.Typefinancement])(implicit request: Http.Request)
@main("vue Activite") {


      <section class="wrapper">
        <h3><i class="fa fa-angle-right"></i>Formulaire Activite</h3>
        
          <div class="col-lg-12">
            <div class="form-panel">
              <form  method="POST" action="@controllers.routes.ActiviteCtrole.ajoutActivite()"  class="form-horizontal style-form" >
                @helper.CSRF.formField
                <div class="form-group">
                  <label class="control-label col-md-3">Numero Activite</label>
                  <div class="col-md-3 col-xs-11">
                    <input class="form-control" size="16" type="text"  name="numActivite">
                  </div>
                </div>

                <div class="form-group">
                  <label class="control-label col-md-3">Libelle Activite</label>
                  <div class="col-md-3 col-xs-11">
                    <input class="form-control" size="16" type="text"  name="libelleActivite">
                  </div>
                </div>

                <div class="form-group">
                  <label class="control-label col-md-3">Type Activite</label>
                  <div class="col-md-3 col-xs-11">
                    <input class="form-control" size="16" type="text"  name="typeActivite">
                  </div>
                </div>

                   <div class="form-group">
                  <label class="control-label col-md-3">Livrable</label>
                  <div class="col-md-3 col-xs-11">
                    <input class="form-control" size="16" type="text"  name="livrable">
                  </div>
                </div>
                   <div class="form-group">
                  <label class="control-label col-md-3">Source Verification</label>
                  <div class="col-md-3 col-xs-11">
                    <input class="form-control" size="16" type="text"  name="sourceVerification">
                  </div>
                </div>
                   <div class="form-group">
                  <label class="control-label col-md-3">Statut</label>
                  <div class="col-md-3 col-xs-11">
                    <input class="form-control" size="16" type="text"  name="statut">
                  </div>
                </div>

                <div class="form-group">
                  <label class="control-label col-md-3">Action</label>
                   <div class="col-md-3 col-xs-11">
                  <select class= "form-control" name="idAction">
                  <option value="">selectionner</option>
                  @for(s <- action){
                  <option value="@s.getIdAction()">@s.getIdAction</option>
                  }
                  </select>
                  
                </div>
                </div>
                
                <div class="form-group">
                  <label class="control-label col-md-3">Bailleur</label>
                   <div class="col-md-3 col-xs-11">
                  <select class= "form-control" name="idBailleur">
                  <option value="">selectionner</option>
                  @for(s <- bailleur){
                  <option value="@s.getIdBailleur()">@s.getLibelleBailleur</option>
                  }
                  </select>
                  
                </div>
                </div>
                
                <div class="form-group">
                  <label class="control-label col-md-3">Fonction</label>
                   <div class="col-md-3 col-xs-11">
                  <select class= "form-control" name="idFonction">
                  <option value="">selectionner</option>
                  @for(s <- fonction){
                  <option value="@s.getIdFonction()">@s.getLibelleFonction</option>
                  }
                  </select>
                  
                </div>
                </div>
                
                <div class="form-group">
                  <label class="control-label col-md-3">Structure</label>
                   <div class="col-md-3 col-xs-11">
                  <select class= "form-control" name="idStructure">
                  <option value="">selectionner</option>
                  @for(c <- structure){
                  <option value="@c.getIdStructure()">@c.getLibelleStructure</option>
                  }
                  </select>
                  
                </div>
                </div>
                
                <div class="form-group">
                  <label class="control-label col-md-3">Type Financement</label>
                   <div class="col-md-3 col-xs-11">
                  <select class= "form-control" name="idTypefinancement">
                  <option value="">selectionner</option>
                  @for(s <- typefinancement){
                  <option value="@s.getIdTypefinancement()">@s.getLibelleTypefinancement</option>
                  }
                  </select>
                  
                </div>
                </div>
<!--                 <button class="btn btn-theme" type="submit">Envoyer</button> -->
                       <input type="submit" value="Valider" class="btn btn-primary">
                
                </form>
            </div>
            <!-- /form-panel -->
          </div>
          
        </section>
     
       
}
