@import helper._
@(activite: models.tables.pojos.Activite)(implicit request:  Http.Request)
@main("view Activite") {
 
<div class="page" style="background-image: ">

 
  <section class="forms">
     <div class="container-fluid">
          <!-- Page Header-->
          <header> 
                      </header>
            
               <div class="row">    
        <div class="col-lg-6">
              <div class="card">
                <div class="card-header d-flex align-items-center">
                  <h4>Ajout Activite</h4>
                </div>
                <div class="card-body">
                
               
                  <form method="POST" action="@controllers.routes.ActiviteCtrole.ActiviteView()">

                 @helper.CSRF.formField
                    <div class="form-group">
                      <label>NUMERO ACTIVITE</label>
                      <input type="text"  name="numactivite" value="@activite.getNumActivite()" class="form-control" readonly="readonly">
                    </div>

                    <div class="form-group">
                      <label>LIBELLE ACTIVITE</label>
                      <input type="text"  name="libelleactivite" value="@activite.getLibelleActivite()" class="form-control" readonly="readonly">
                    </div>

                    
                      <div class="form-group">
                      <label>ACTION</label>
                      <input type="text"  name="idaction" value="@activite.getIdAction()" class="form-control" readonly="readonly">
                      <br><br>
                    <div class="form-group">       
                      <a  href="@routes.ActiviteCtrole.ActiviteView()" class="btn btn-danger">Retour</a>
                      <input type="submit" value="Valider" class="btn btn-primary" style="float: right">
                    </div>
                  </form>
                  
                </div>
              </div>
            </div>
           
 </div>
 </div>
 </div>
 </section>
 </div>

       
}
