@(affecter: List[models.tables.pojos.Affecter])(implicit request: Http.Request)


@main("Afficher Programme"){

<table class="table table-striped table-advance table-hover">
                <h4><i class="fa fa-angle-right"></i> Listes des Affectations </h4>
                <hr>
                <thead>
                  <tr>
                    <th><i class="fa fa-bullhorn"></i> Code</th>
                    <th class="hidden-phone"><i class="fa fa-question-circle"></i> Date Affectation</th>
                    <th class="hidden-phone"><i class="fa fa-question-circle"></i> Agents</th>
                    <th class="hidden-phone"><i class="fa fa-question-circle"></i> Activites</th>
                    <th class="hidden-phone"><i class="fa fa-question-circle"></i> Structures</th>
                    
                    <th><i class="fa fa-bookmark"></i> Actions</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                   @for(t <- affecter){

                    <tr>
                          <td > @t.getDateAffection </td>
                           <td > @t.getMatAgent </td>
                           <td > @t.getNumActivite </td>
                           <td > @t.getStructure </td>
                           <td>
                           <a href="#"  class="btn btn-success"><span class="fa fa-edit"></</span></a>
                            <a href="#"  class="btn btn-danger" onclick="return window.confirm('Voulez vous supprimer cet enregistrement?');"><span class="fa fa-trash"></</span></a>
                           </td>
                        </tr>
                   }
                </tbody>
              </table>



}