@import helper._
@(agent: List[models.tables.pojos.Agent],activite: List[models.tables.pojos.Activite],structure: List[models.tables.pojos.Structure])(implicit request: Http.Request)
@main("vue Action") {


      <section class="wrapper">
        <h3><i class="fa fa-angle-right"></i>Formulaire Affectation</h3>
        
          <div class="col-lg-12">
            <div class="form-panel">
              <form  method="POST" action="@controllers.routes.AffecterCtrole.ajoutAffectation()"  class="form-horizontal style-form" >
                @helper.CSRF.formField
                <div class="form-group">
                  <label class="control-label col-md-3">Date Affectation</label>
                  <div class="col-md-3 col-xs-11">
                    <input class="form-control" size="16" type="date"  name="dateAffection">
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-md-3">Agent</label>
                   <div class="col-md-3 col-xs-11">
                  <select class= "form-control" name="matAgent">
                  <option value="">selectionner</option>
                  @for(c <- agent){
				 <option value="@c.getMatAgent()">@c.getMatAgent</option> 
				 }                 
				 </select>  
                </div>
                </div>
                
                <div class="form-group">
                  <label class="control-label col-md-3">Activites</label>
                   <div class="col-md-3 col-xs-11">
                  <select class= "form-control" name="numActivite">
                  <option value="">selectionner</option>
                  @for(c <- activite){
				 <option value="@c.getNumActivite()">@c.getLibelleActivite</option> 
				 }                 
				 </select>  
                </div>
                </div>
                
                <div class="form-group">
                  <label class="control-label col-md-3">Structures</label>
                   <div class="col-md-3 col-xs-11">
                  <select class= "form-control" name="structure">
                  <option value="">selectionner</option>
                  @for(c <- structure){
				 <option value="@c.getIdStructure()">@c.getLibelleStructure</option> 
				 }                 
				 </select>  
                </div>
                </div>
                
                
<!--                 <button class="btn btn-theme" type="submit">Envoyer</button> -->
                       <input type="submit" value="Valider" class="btn btn-primary">
                
                </form>
            </div>
            <!-- /form-panel -->
          </div>
          
        </section>
     
       
}
