@import helper._
@(agent: models.tables.pojos.Agent)(implicit request:  Http.Request)
@main("view Agent") {
 
<div class="page" style="background-image: ">

 
  <section class="forms">
     <div class="container-fluid">
          <!-- Page Header-->
          <header> 
                      </header>
            
               <div class="row">    
        <div class="col-lg-6">
              <div class="card">
                <div class="card-header d-flex align-items-center">
                  <h4>Ajout Agent</h4>
                </div>
                <div class="card-body">
                
               
                  <form method="POST" action="@controllers.routes.AgentCtrole.AgentView()">

                 @helper.CSRF.formField
                    <div class="form-group">
                      <label>MATRICULE AGENT</label>
                      <input type="text"  name="matAgent" value="@agent.getMatAgent()" class="form-control" readonly="readonly">
                    </div>

                    <div class="form-group">
                      <label>NOM</label>
                      <input type="text"  name="nom" value="@agent.getNom()" class="form-control" readonly="readonly">
                    </div>

                    <div class="form-group">
                      <label>PRENOM </label>
                      <input type="text"  name="prenom" value="@agent.getPrenom()" class="form-control" readonly="readonly">
                    </div>

                    <div class="form-group">
                      <label>DATE NAISSANCE</label>
                      <input type="text"  name="datenaissance" value="@agent.getDatenaissance()" class="form-control" readonly="readonly">
                    </div>

                    <div class="form-group">
                      <label>LIEU NAISSANCE</label>
                      <input type="text"  name="lieunaissance" value="@agent.getLieunaissance()" class="form-control" readonly="readonly">
                    </div>

                    
                     <div class="form-group">
                      <label>PROFILE</label>
                      <input   type="text" name="numProfile" value="@agent.getNumProfile()"  class="form-control">
                      <br><br>
                    <div class="form-group">       
                      <a  href="@routes.AgentCtrole.AgentView()" class="btn btn-danger">Retour</a>
                      <input type="submit" value="Valider" class="btn btn-primary" style="float: right">
                    </div>
                  </form>
                  
                </div>
              </div>
            </div>
           
 </div>
 </div>
 </div>
 </section>
 </div>

       
}
