@import helper._
@(profile: List[models.tables.pojos.Profile],structure: List[models.tables.pojos.Structure])(implicit request: Http.Request)
@main("vue Agent") {


      <section class="wrapper">
        <h3><i class="fa fa-angle-right"></i>Formulaire Agent</h3>
        
          <div class="col-lg-12">
            <div class="form-panel">
              <form  method="POST" action="@controllers.routes.AgentCtrole.ajoutAgent()"  class="form-horizontal style-form" >
                @helper.CSRF.formField
                <div class="form-group">
                  <label class="control-label col-md-3">Matricule Agent</label>
                  <div class="col-md-3 col-xs-11">
                    <input class="form-control" size="16" type="text"  name="matAgent">
                  </div>
                </div>

                <div class="form-group">
                  <label class="control-label col-md-3">Nom</label>
                  <div class="col-md-3 col-xs-11">
                    <input class="form-control" size="16" type="text"  name="nom">
                  </div>
                </div>

                <div class="form-group">
                  <label class="control-label col-md-3">Prenom</label>
                  <div class="col-md-3 col-xs-11">
                    <input class="form-control" size="16" type="text"  name="prenom">
                  </div>
                </div>

                <div class="form-group">
                  <label class="control-label col-md-3">Telephone</label>
                  <div class="col-md-3 col-xs-11">
                    <input class="form-control" size="16" type="text"  name="telephone">
                  </div>
                </div>

                <div class="form-group">
                  <label class="control-label col-md-3">Date Naissance</label>
                  <div class="col-md-3 col-xs-11">
                    <input class="form-control" size="16" type="date"  name="datenaissance" min=" 1960-01-01" max="2001-01-01">
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-md-3">Lieu Naissance</label>
                  <div class="col-md-3 col-xs-11">
                    <input class="form-control" size="16" type="text" name="lieunaissance">
                  </div>
                </div>

                <div class="form-group">
                  <label class="control-label col-md-3">Profile</label>
                   <div class="col-md-3 col-xs-11">
                  <select class= "form-control" name="numProfile">
                  <option value="">selectionner</option>
                  @for(p <- profile){
                  <option value="@p.getNumProfile()">@p.getLibelleProfile</option>}
                  </select>
                  
                </div>
                </div>
                
                <div class="form-group">
                  <label class="control-label col-md-3">Structure</label>
                   <div class="col-md-3 col-xs-11">
                  <select class= "form-control" name="idStructure">
                  <option value="">selectionner</option>
                  @for(c <- structure){
                  <option value="@c.getIdStructure()">@c.getLibelleStructure</option>
                  }
                  </select>
                  
                </div>
                </div>
<!--                 <button class="btn btn-theme" type="submit">Envoyer</button> -->
                       <input type="submit" value="Valider" class="btn btn-primary">
                
                </form>
            </div>
            <!-- /form-panel -->
          </div>
          
        </section>
     
       
}
