@(listesP: List[models.tables.pojos.Agent])(implicit request: Http.Request)


@main("Afficher Agent"){

<table class="table table-striped table-advance table-hover">
                <h4><i class="fa fa-angle-right"></i> Listes Agent </h4>
                <hr>
                <thead>
                  <tr>
                    
                    <th class="hidden-phone"><i class="fa fa-question-circle"></i> Matricule</th>
                    <th class="hidden-phone"><i class="fa fa-question-circle"></i> Nom</th>
                    <th class="hidden-phone"><i class="fa fa-question-circle"></i> Prenom</th>
                    <th class="hidden-phone"><i class="fa fa-question-circle"></i> Telephone</th>
                    <th class="hidden-phone"><i class="fa fa-question-circle"></i> DateNaissance</th>
                    <th class="hidden-phone"><i class="fa fa-question-circle"></i> LieuNaissance</th>
                    <th class="hidden-phone"><i class="fa fa-question-circle"></i> Profile</th>
                    <th><i class="fa fa-bookmark"></i> Actions</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                   @for(t <- listesP){

                    <tr>
                          <td > @t.getMatAgent </td>
                           <td > @t.getNom </td>
                           <td > @t.getPrenom </td>
                           <td > @t.getTelephone </td>
                           <td > @t.getDatenaissance </td>
                           <td > @t.getLieunaissance </td>
                           <td > @t.getNumProfile </td>
                           <td>
                           <a href="@routes.AgentCtrole.editAgent(t.getMatAgent)"  class="btn btn-success"><span class="fa fa-edit"></</span></a>
                            <a href="@routes.AgentCtrole.delAgent(t.getMatAgent)"  class="btn btn-danger" onclick="return window.confirm('Voulez vous supprimer cet enregistrement?');"><span class="fa fa-trash"></</span></a>
                           </td>
                        </tr>
                   }
                </tbody>
              </table>



}