@()(implicit request: Http.Request)
@import helper._
@main("vue Action") {

<form method="post" action="@controllers.routes.ProgrammeCtrole.traitement()" enctype="multipart/form-data">
@helper.CSRF.formField
<input type="file" name="fichier">
<input type="submit" name="OK">

</form>
     
       
}
