@(listesP: List[models.tables.pojos.Programme]){
<h1>Listes enregistrer :</h1><br>
  
  <table border="1" >
				<center><h4> <b>L</b><br></center>
					<thead>
						 <tr>
							<th style="text-align: center;size: 20px"><b>Numero</b></th>
							<th style="text-align: center"><b>Libelle</b></th>
							
						 </tr>
					 </thead>
					 <tbody>
  					@for(p <- listesP){
							 <tr>
							    <td># </td>
								<td>@p.getNumProgramme() </td>
								<td>@p.getLibelleProgramme() </td>
								
								
 								
							</tr>
  					}
  					</tbody>
  				</table>
  <br>
    <button onClick="javascript:window.history.go(-1)"class="btn btn-danger"><span>Retour</span></button> 
  
   						
}
