@import helper._
@(implicit request: Http.Request)
@main("vue Programme") {


      <section class="wrapper">
        <h3><i class="fa fa-angle-right"></i>Envoyer Mail</h3>
        
          <div class="col-lg-12">
            <div class="form-panel">
              <form  method="POST" action="@controllers.routes.MailCtroler.envoiMail()"  class="form-horizontal style-form" >
                @helper.CSRF.formField
                <div class="form-group">
                  <label class="control-label col-md-3">Entrez une adresse Mail</label>
                  <div class="col-md-3 col-xs-11">
                    <input class="form-control" size="16" type="text"  name="toEmail">
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-md-3">objet</label>
                  <div class="col-md-3 col-xs-11">
                    <input class="form-control" size="16" type="text"  name="objet">
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-md-3">Contenu</label>
                  <div class="col-md-3 col-xs-11">
                  <textarea rows="" cols="" class="form-control" size="16" type="text"  name="contenu"></textarea>
                  </div>
                </div>
                       <input type="submit" value="Valider" class="btn btn-primary">
                
                </form>
            </div>
            <!-- /form-panel -->
          </div>
          
        </section>
     
       
}
