@import helper._
@(prof: models.tables.pojos.Profile)(implicit request:  Http.Request)
@main("view Profile") {
 
<div class="page" style="background-image: ">

 
  <section class="forms">
     <div class="container-fluid">
          <!-- Page Header-->
          <header> 
                      </header>
            
               <div class="row">    
        <div class="col-lg-6">
              <div class="card">
                <div class="card-header d-flex align-items-center">
                  <h4>Ajout Profile</h4>
                </div>
                <div class="card-body">
                
               
                  <form method="POST" action="@controllers.routes.ProfilCtroler.modifProfril()">

                 @helper.CSRF.formField
                     <div class="form-group">
                     
                     <label>NUMERO PROFILE</label>
                      
                      <input   type="text" name="numProfile" value="@prof.getNumProfile()"  class="form-control">
                      <br><br>
                      <label>LIBELLE PROFILE</label>
                      
                      <input   type="text" name="libelleProfile" value="@prof.getLibelleProfile()"  class="form-control">
                      <br><br>
                    <div class="form-group">       
                      <a  href="@routes.ProfilCtroler.formulaireProfil()" class="btn btn-danger">BACK</a>
                      <input type="submit" value="Valider" class="btn btn-primary" style="float: right">
                    </div>
                    </div>
                  </form>
                  
                </div>
              </div>
            </div>
           
 </div>
 </div>
 </div>
 </section>
 </div>

       
}
