@import helper._
@(implicit request: Http.Request)
@main("vue Rapport") {


      <section class="wrapper">
        <h3><i class="fa fa-angle-right"></i>Formulaire Rapport</h3>
        
          <div class="col-lg-12">
            <div class="form-panel">
              <form  method="POST" action="@controllers.routes.RapportCtroler.ajoutRapport()"  class="form-horizontal style-form" >
                @helper.CSRF.formField
                <div class="form-group">
                  <label class="control-label col-md-3">Numero Rapport</label>
                  <div class="col-md-3 col-xs-11">
                    <input class="form-control" size="16" type="text"  name="numRapport">
                  </div>
                </div>

                <div class="form-group">
                  <label class="control-label col-md-3">Contenu</label>
                  <div class="col-md-3 col-xs-11">
                    <input class="form-control" size="16" type="text"  name="contenu">
                  </div>
                </div>

                <div class="form-group">
                  <label class="control-label col-md-3">Date</label>
                  <div class="col-md-3 col-xs-11">
                    <input class="form-control" size="16" type="date"  name="date">
                  </div>
                </div>

                <div class="form-group">
                  <label class="control-label col-md-3">Agent</label>
                  <div class="col-md-3 col-xs-11">
                    <input class="form-control" size="16" type="text"  name="matAgent">
                  </div>
                </div>
<!--                 <button class="btn btn-theme" type="submit">Envoyer</button> -->
                       <input type="submit" value="Valider" class="btn btn-primary">
                
                </form>
            </div>
            <!-- /form-panel -->
          </div>
          
        </section>
     
       
}
