@(listesP: List[models.tables.pojos.Rapport])(implicit request: Http.Request)


@main("Afficher Rapport"){

<table class="table table-striped table-advance table-hover">
                <h4><i class="fa fa-angle-right"></i> Listes Rapports </h4>
                <hr>
                <thead>
                  <tr>
                    <th><i class="fa fa-bullhorn"></i> Code</th>
                    <th class="hidden-phone"><i class="fa fa-question-circle"></i> Numero Rapport</th>
                    <th class="hidden-phone"><i class="fa fa-question-circle"></i> Contenu</th>
                    <th class="hidden-phone"><i class="fa fa-question-circle"></i> Date</th>
                    <th class="hidden-phone"><i class="fa fa-question-circle"></i> Agent</th>
                    <th><i class="fa fa-bookmark"></i> Actions</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                   @for(t <- listesP){

                    <tr>
                          <td > @t.getNumRapport </td>
                           <td > @t.getContenu </td>
                           <td > @t.getDate </td>
                           <td > @t.getMatAgent </td>
                           <td>
                           <a href="@routes.RapportCtroler.editForm(t.getNumRapport)"  class="btn btn-success"><span class="fa fa-edit"></</span></a>
                            <a href="@routes.RapportCtroler.deleteRapport(t.getNumRapport)"  class="btn btn-danger" onclick="return window.confirm('Voulez vous supprimer cet enregistrement?');"><span class="fa fa-trash"></</span></a>
                           </td>
                        </tr>
                   }
                </tbody>
              </table>



}