@import helper._
@(rapport: models.tables.pojos.Rapport)(implicit request:  Http.Request)
@main("view Rapport") {
 
<div class="page" style="background-image: ">

 
  <section class="forms">
     <div class="container-fluid">
          <!-- Page Header-->
          <header> 
                      </header>
            
               <div class="row">    
        <div class="col-lg-6">
              <div class="card">
                <div class="card-header d-flex align-items-center">
                  <h4>Ajout Rapport</h4>
                </div>
                <div class="card-body">
                
               
                  <form method="POST" action="@controllers.routes.RapportCtroler.modifRapport()">

                 @helper.CSRF.formField
                    <div class="form-group">
                      <label>NUMERO RAPPORT</label>
                      <input type="text"  name="numRapport" value="@rapport.getNumRapport()" class="form-control" readonly="readonly">
                    </div>

                    <div class="form-group">
                      <label>CONTENU</label>
                      <input type="text"  name="contenu" value="@rapport.getContenu()" class="form-control" readonly="readonly">
                    </div>

                    <div class="form-group">
                      <label>DATE</label>
                      <input type="text"  name="date" value="@rapport.getDate()" class="form-control" readonly="readonly">
                    </div>

                    <div class="form-group">
                      <label>AGENT</label>
                      <input type="text"  name="MatAgent" value="@rapport.getMatAgent()" class="form-control" readonly="readonly">
                    
                      <br><br>
                    <div class="form-group">       
                      <a  href="@routes.RapportCtroler.formulaireRapport()" class="btn btn-danger">Rétour</a>
                      <input type="submit" value="Valider" class="btn btn-primary" style="float: right">
                    </div>
                  </form>
                  
                </div>
              </div>
            </div>
           
 </div>
 </div>
 </div>
 </section>
 </div>

       
}
