@(listesP: List[models.tables.pojos.Structure])(implicit request: Http.Request)


@main("Afficher Structure"){

<table class="table table-striped table-advance table-hover">
                <h4><i class="fa fa-angle-right"></i> Listes Structures </h4>
                <hr>
                <thead>
                  <tr>
                    <th><i class="fa fa-bullhorn"></i> Code</th>
                    <th class="hidden-phone"><i class="fa fa-question-circle"></i> Libelle</th>
                    <th><i class="fa fa-bookmark"></i> Actions</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                   @for(t <- listesP){

                    <tr>
                          <td > @t.getIdStructure </td>
                           <td > @t.getLibelleStructure </td>
                           <td>
                           <a href="@routes.StructureCtroler.editForm(t.getIdStructure)"  class="btn btn-success"><span class="fa fa-edit"></</span></a>
                            <a href="@routes.StructureCtroler.deleteStructure(t.getIdStructure)"  class="btn btn-danger" onclick="return window.confirm('Voulez vous supprimer cet enregistrement?');"><span class="fa fa-trash"></</span></a>
                           </td>
                        </tr>
                   }
                </tbody>
              </table>



}