@import helper._
@(structure: models.tables.pojos.Structure)(implicit request:  Http.Request)
@main("view Structure") {
 
<div class="page" style="background-image: ">

 
  <section class="forms">
     <div class="container-fluid">
          <!-- Page Header-->
          <header> 
                      </header>
            
               <div class="row">    
        <div class="col-lg-6">
              <div class="card">
                <div class="card-header d-flex align-items-center">
                  <h4>Ajout Structure</h4>
                </div>
                <div class="card-body">
                
               
                  <form method="POST" action="@controllers.routes.StructureCtroler.modifStructure()">
                    @helper.CSRF.formField
                     <div class="form-group">
                      <label>LIBELLE STRUCTURE</label>
                      <input   type="text" name="libelleStructure" value="@structure.getLibelleStructure()"  class="form-control">
                      <br><br>
                    <div class="form-group">       
                      <a  href="@routes.StructureCtroler.formulaireStructure()" class="btn btn-danger">Rétour</a>
                      <input type="submit" value="Valider" class="btn btn-primary" style="float: right">
                    </div>
                  </form>
                  
                </div>
              </div>
            </div>
           
 </div>
 </div>
 </div>
 </section>
 </div>

       
}
