@import helper._
@(implicit request: Http.Request)
@main("vue Structure") {


      <section class="wrapper">
        <h3><i class="fa fa-angle-right"></i>Formulaire Structure</h3>
        
          <div class="col-lg-12">
            <div class="form-panel">
              <form  method="POST" action="@controllers.routes.StructureCtroler.ajoutStructure()"  class="form-horizontal style-form" >
                @helper.CSRF.formField
                <div class="form-group">
                  <label class="control-label col-md-3">Identifiant</label>
                  <div class="col-md-3 col-xs-11">
                    <input class="form-control" size="16" type="text"  name="idStructure">
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-md-3">Libelle Structure</label>
                  <div class="col-md-3 col-xs-11">
                    <input class="form-control" size="16" type="text" name="libelleStructure">
                  </div>
                </div>
<!--                 <button class="btn btn-theme" type="submit">Envoyer</button> -->
                       <input type="submit" value="Valider" class="btn btn-primary">
                
                </form>
            </div>
            <!-- /form-panel -->
          </div>
          
        </section>
     
       
}
