@(listesT: List[models.tables.pojos.Tache])(implicit request: Http.Request)


@main("Afficher tache"){

<table class="table table-striped table-advance table-hover">
                <h4><i class="fa fa-angle-right"></i> Listes Taches </h4>
                <hr>
                <thead>
                  <tr>
                    <th><i class="fa fa-bullhorn"></i> Code</th>
                    <th class="hidden-phone"><i class="fa fa-question-circle"></i> Libelle</th>
                    <th class="hidden-phone"><i class="fa fa-question-circle"></i> Numero Activite</th> 
                    <th class="hidden-phone"><i class="fa fa-question-circle"></i> Nature Economique</th>                    
                    <th><i class="fa fa-bookmark"></i> Actions</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                   @for(t <- listesT){

                    <tr>
                          <td > @t.getIdTache </td>
                           <td > @t.getLibelleTache </td>
                           <td > @t.getNumActivite </td>
                           <td > @t.getIdNature </td>
                           <td>
                           <a href="@routes.TacheCtroler.editForm(t.getIdTache)"  class="btn btn-success"><span class="fa fa-edit"></</span></a>
                            <a href="@routes.TacheCtroler.deleteTache(t.getIdTache)"  class="btn btn-danger" onclick="return window.confirm('Voulez vous supprimer cet enregistrement?');"><span class="fa fa-trash"></</span></a>
                           </td>
                        </tr>
                   }
                </tbody>
              </table>



}