@import helper._
@(listep:  List[models.tables.pojos.Activite],nature :List[models.tables.pojos.Natureeconomique])(implicit request: Http.Request)
@main("vue Structure") {


      <section class="wrapper">
        <h3><i class="fa fa-angle-right"></i>Formulaire Tache</h3>
        
          <div class="col-lg-12">
            <div class="form-panel">
              <form  method="POST" action="@controllers.routes.TacheCtroler.ajoutTache()"  class="form-horizontal style-form" >
                @helper.CSRF.formField
                <div class="form-group">
                  <label class="control-label col-md-3">Identifiant</label>
                  <div class="col-md-3 col-xs-11">
                    <input class="form-control" size="16" type="text"  name="idTache">
                  </div>
                </div>
                 
                <div class="form-group">
                  <label class="control-label col-md-3">Libelle Tache</label>
                  <div class="col-md-3 col-xs-11">
                    <input class="form-control" size="16" type="text" name="libelleTache">
                  </div>
                  </div>


				  <div class="form-group">
                  <label class="control-label col-md-3">Activite</label>
                   <div class="col-md-3 col-xs-11">
                  <select class= "form-control" name="numActivite">
                  <option value="">selectionner</option>
                  @for(c <- listep){
                  <option value="@c.getNumActivite()">@c.getNumActivite</option>}
                  </select>
                  
                </div>
                </div>
                
                 <div class="form-group">
                  <label class="control-label col-md-3">Nature Economique</label>
                   <div class="col-md-3 col-xs-11">
                  <select class= "form-control" name="idNature">
                  <option value="">selectionner</option>
                  @for(c <- nature){
                  <option value="@c.getIdNature()">@c.getLibelleNature</option>}
                  </select>
                  
                </div>
                </div>
<!--                 <button class="btn btn-theme" type="submit">Envoyer</button> -->
                       <input type="submit" value="Valider" class="btn btn-primary">
                
                </form>
            </div>
            </div>
            <!-- /form-panel -->
          </div>
          
        </section>
     
       
}
